#top_menu {
  padding-top: 10px;
}

.navbar-darkgray {
    border-color: #3a3f44;
    background-color: #3a3f44;
}

.navbar-darkgray .nav>li>a:hover, .navbar-darkgray .nav>li>a:focus {
    background-color: #3a3f44;
}

#content {
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.click_td {
    display:block;
}

.search-table {
  width:700px;
}

#request_table {
  padding-top: 50px;
  width: 100%;
}

#reviewTable {
  width: 100%;
}


.animated {
   -webkit-transition: height 0.2s;
   -moz-transition: height 0.2s;
   transition: height 0.2s;
}

.stars
{
   margin: 20px 0;
   font-size: 24px;
   color: #d17581;
}
