#top_menu {
  padding-top: 10px;
}

.navbar-darkgray {
    border-color: #3a3f44;
    background-color: #3a3f44;
}

.navbar-darkgray .nav>li>a:hover, .navbar-darkgray .nav>li>a:focus {
    background-color: #3a3f44;
}

#content {
  padding-top: 30px;
  padding-left: 30%;
  padding-right: 30%;
}

.search-table {
  width:80%;
}

#request_table {
  padding-top: 50px;
  width: 80%
}
